
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/formUsuario.cshtml";
}

<div class="Formulario-encabezado">
    <h2>Crea una cuenta</h2>
    <h4>Registrate para comprar tus productos favoritos</h4>
</div>
<form class="Formulario-Contenido">
    <input type="text" placeholder="Nombre de usuario">
    <input type="text" placeholder="Nombre completo">
    <input type="text" placeholder="Telefono">
    <input type="email" placeholder="Correo electronico">
    <input type="password" placeholder="Contraseña">
    <button>Iniciar sesion</button>
    <p><a>@Html.ActionLink("Ya tienes una cuenta", "InicioSesion", "Usuario")</a></p>
</form>
