@model IEnumerable<TiendaVideojuegos.Models.PRODUCTOS>
@{
    ViewBag.Title = "Consolas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8  Destacados-categorias">


    <div class="productos">
        <div class="col-12 centrar">
            <h2>Productos</h2>
        </div>
        <div class="col-12 centrar">
            


                <article class="col-4">
                    <div class="Producto">
                        <img src="https://images.pexels.com/photos/3785784/pexels-photo-3785784.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                        <div class="container Producto-info">
                            <div class="row text-center">
                                <div class="col" id="titulo"><a>GENERICA</a></div>
                            </div>
                            <div class="row text-center">
                                <div class="col" id="precio">Precio: $200</div>
                            </div>
                        </div>
                    </div>
                </article>
            <article class="col-4">
                    <div class="Producto">
                        <img src="https://images.pexels.com/photos/755992/pexels-photo-755992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                        <div class="container Producto-info">
                            <div class="row text-center">
                                <div class="col" id="titulo"><a>CHANEL</a></div>
                            </div>
                            <div class="row text-center">
                                <div class="col" id="precio">Precio: $300</div>
                            </div>
                        </div>
                    </div>
                </article>

            
        </div>
    </div>

</div>

<div class="col-4 Descuentos">

    <div class="col-12 centrar">
        <h2>Descuentos</h2>
    </div>

    @foreach (var item in Model)
    {
        if (item.DESCUENTO > 0)
        {

            <article class="col-12 centrar">
                <div class="Producto-descuento">
                    <div class="Producto-Img">
                        <img src="@item.IMAGEN_PRODUCTO" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Titulo</p>
                    </div>
                </div>
            </article>

        }

    }

    


</div>

