
@{
    ViewBag.Title = "Consolas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8  Destacados-categorias">


    <div class="productos">
        <div class="col-12 centrar">
            <h2>Productos</h2>
        </div>
        <div class="col-12 centrar">
            <article class="col-4">
                <div class="Producto">
                    <img src="../Palceholder_Image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Titulo</p>
                    </div>
                </div>
            </article>

            <article class="col-4">
                <div class="Producto">
                    <img src="../Palceholder_Image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Titulo</p>
                    </div>
                </div>
            </article>

            <article class="col-4">
                <div class="Producto">
                    <img src="../Palceholder_Image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Titulo</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

</div>

<div class="col-4 Descuentos">

    <div class="col-12 centrar">
        <h2>Descuentos</h2>
    </div>

    <article class="col-12 centrar">
        <div class="Producto-descuento">
            <div class="Producto-Img">
                <img src="../Palceholder_Image.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text">Titulo</p>
            </div>
        </div>
    </article>

    <article class="col-12 centrar">
        <div class="Producto-descuento">
            <div class="Producto-Img">
                <img src="../Palceholder_Image.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text">Titulo</p>
            </div>
        </div>
    </article>

</div>

